# Standard Python .gitignore
# --------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Other standards .gitignore
# --------------------------

# Mac files
.DS_Store

# IDEs
.idea/


# Application-specific .gitignores
# --------------------------------

app/local_settings.py

data_resources/ned_db_training_file.txt
data_resources/embeddings/*.txt