# Flask/App specific
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
sqlalchemy-utils

# Spacy
spacy
html2text
bs4

# Names
nameparser

# Postgres connector
PyGreSQL

# Automated tests
pytest
pytest-cov
