# Flask/App specific
Flask
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
sqlalchemy-utils

# Spacy
spacy
html2text
bs4

# Gensim
gensim
pyemd

# Names
nameparser
whoswho

# Postgres connector
PyGreSQL

# Automated tests
pytest
pytest-cov

# Machine learning
scipy
sklearn
imblearn

# Other
lxml