.overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(12, 235, 160, .9), rgba(12, 235, 160, .9));
    margin: -1px;
    z-index: -1;
}
div {
    width: 300px;
}
div.span {
    font-weight: bold;
}