<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/c7cf4bc8fc.js"></script>
    <style>
        mark {
            background-image: linear-gradient(to bottom, rgba(24, 227, 231, 1), rgba(24, 200, 231, 0.5));
        }
    </style>
</head>
<body>


<!--politags container-->
<div class="container" id="article_container" article_id="test">

    <!--Actual content-->
    <div class=\"node-content clearfix\
    "> &#13; &#13; <p>Afgelopen dinsdag besloot de gemeenteraad om eindelijk een fatsoenlijk tarief te gaan
    betalen voor de huishoudelijke zorg.<br/>Alle gemeenten moeten per 1 april 2018 aan thuiszorgorganisaties het in
    de cao geregelde loon vergoeden van de bij hen werkende thuiszorgmedewerkers.</p><p>Dankzij talrijke acties in het
    hele land&#160; - ook in Amersfoort met steun vanuit de lokale SP-afdeling -&#160; is dit resultaat bereikt:&#160;
    eindelijk &#8220;loon naar werken!&#8220;.</p><p>SP-raadslid Bets Beltman maakte tijdens de raadsvergadering van
    de gelegenheid gebruik om de thuiszorg-medewerkers in Amersfoort te feliciteren met hun succes. Dit werd haar door
    de andere partijen niet echt in dank afgenomen &#8211; het was toch &#8216;maar een hamerstuk &#8216; en&#160; zij
    wilden liever wat vroeger naar huis&#8230;.</p><p>Ook de wethouder, Fleur Imming van de PvdA,&#160; hield zich
    stil.</p>
    <div class=\"zie-ook\">&#13; <strong>Zie ook:</strong>&#13;
        <ul>&#13;
            <li><a href=\"/dossier/thuiszorg\">Dossier: Thuiszorg</a></li>&#13;
        </ul>&#13;
    </div>&#13;


</div>
<!--End container-->


<!--Politags javascript-->
<script src="{{ url_for('static', filename='politags.js') }}"></script>
<!--End politags javascript-->


</body>
</html>
