<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        mark {
            background-image: linear-gradient(to bottom,rgba(24, 227, 231, 1),rgba(24,200,231,0.5));
        }
    </style>
</head>
<body>


<!--politags container-->
<div class="container" id="article_container" article_id="test">

    <!--Actual content-->
    <p><span id="dnn_ctr33769_ArticleDetails_ctl00_lblDescription" class="normalbold">&#160;&#13;
    <p align="justify">Naar aanleiding van diverse publicaties in de media, betreffende voormalig wethouder van Dijk en
        diens handelen in zijn hoedanigheid&#160; van werknemer/directeur van Louppen B.V., heeft de CDA fractie op
        maandag 12 juni jongstleden een aantal schriftelijke vragen aan het college gesteld. </p></span>&#13; </p><p
        align="justify">Naar aanleiding van diverse publicaties in de media, betreffende voormalig wethouder van Dijk en
    diens handelen in zijn hoedanigheid&#160; van werknemer/directeur van Louppen B.V., heeft de CDA fractie op maandag
    12 juni jongstleden een aantal schriftelijke vragen aan het college gesteld. </p>
    <p/>&#13; <p><span id="dnn_ctr33769_ArticleDetails_ctl00_lblArticle" class="normal">&#13;
    <p>Naar aanleiding van diverse publicaties in de media, betreffende voormalig wethouder van Dijk en diens handelen
        in zijn hoedanigheid&#160; van werknemer/directeur van Louppen B.V., heeft de CDA fractie op maandag 12 juni
        jongstleden een aantal schriftelijke vragen aan het college gesteld. Als grootste fractie in onze raad, achten
        wij het onze taak om zo spoedig mogelijk helderheid in deze kwestie te krijgen. Het betrof onder ander de
        navolgende vragen (met daarachter in het kort de beantwoording via het college):<br/>1.&#160;Kunt U aangeven of
        de toenmalige coalitie bekend was met de nevenfunctie van de heer van Dijk en zo ja, sinds wanneer? De coalitie
        werd in januari 2004 op de hoogte gebracht van de nieuwe functie (directeur ad interim sinds november 2003).
        Binnen het college waren de collega wethouders sinds juli/augustus 2003 op de hoogte van het feit dat de heer
        van Dijk een functie binnen de Louppen Groep had aanvaard.<br/>2.&#160;Is het correct dat het handelen van de
        heer van Dijk niet heeft geleid tot financi&#235;le schade, juridische verplichtingen of andere nadelige
        gevolgen voor de gemeente Vaals?


</div>
<!--End container-->


<!--Politags javascript-->
<script src="{{ url_for('static', filename='politags.js') }}"></script>
<!--End politags javascript-->


</body>
</html>
