<!DOCTYPE html>
<html lang="en">
<head>
    <title>Politags</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Poliflw</title>
    <meta name="description" content="Lokaal politiek nieuws">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/more.css">
    <link rel="stylesheet" href="/static/styles/search_embed.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/rrssb.css">
    <link  href="/static/styles/search_embed-datauri.css" media="all" rel="stylesheet" type="text/css">
    <script src="/static/scripts/main.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>


<body>

<!--politags container-->
<div class="container" id="counter_container" style="text-align: center">
</div>

<div class="container" id="article_container" style="text-align: justify">
    <p></p>
    <!--Actual content-->
    <div class=\"node-content clearfix\
    "> &#13; &#13; <p>Afgelopen dinsdag besloot de gemeenteraad om eindelijk een fatsoenlijk tarief te gaan
    betalen voor de huishoudelijke zorg.<br/>Alle gemeenten moeten per 1 april 2018 aan thuiszorgorganisaties het in
    de cao geregelde loon vergoeden van de bij hen werkende thuiszorgmedewerkers.</p><p>Dankzij talrijke acties in het
    hele land&#160; - ook in Amersfoort met steun vanuit de lokale SP-afdeling -&#160; is dit resultaat bereikt:&#160;
    eindelijk &#8220;loon naar werken!&#8220;.</p><p>SP-raadslid Bets Beltman maakte tijdens de raadsvergadering van
    de gelegenheid gebruik om de thuiszorg-medewerkers in Amersfoort te feliciteren met hun succes. Dit werd haar door
    de andere partijen niet echt in dank afgenomen &#8211; het was toch &#8216;maar een hamerstuk &#8216; en&#160; zij
    wilden liever wat vroeger naar huis&#8230;.</p><p>Ook de wethouder, Fleur Imming van de PvdA,&#160; hield zich
    stil.</p>
    <div class=\"zie-ook\">&#13; <strong>Zie ook:</strong>&#13;
        <ul>&#13;
            <li><a href=\"/dossier/thuiszorg\">Dossier: Thuiszorg</a></li>&#13;
        </ul>&#13;
    </div>&#13;
    <p></p>

</div>
<!--End container-->


<div id="topic_container" style="text-align: center">
</div>


<!--Politags javascript-->
<script src="{{ url_for('static', filename='scripts/politags_article.js') }}"></script>
<!--End politags javascript-->


</body>
</html>
